<!--With ejs you don't have the ability to create a layout and -->
<!--include it in every page so you have to create a header and -->
<!--footer to include.-->
<footer>
    <p class="text-center">Albumz &copy 2016, All Rights Reserved</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>